:root {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #0a0a0a;
    color: #fff;
    color-scheme: dark;
  }
}
